main {
    margin-top: 2em;
  }
  .menu-section {
    margin: 0 auto;
    max-width: 1024px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .menu {
    text-align: center;
    img {
      margin: 1em 0;
    }
    h2 {
      margin: 0;
    }
    h3 {
      font-weight: bold;
      font-size: 1.5em;
      margin: 0;
    }
    p {
      color: #575757;
    }
  }
